<h2>Main page</h2>
{{#if OurGroup.length}}
<h2>Groups</h2>
<ul>
    {{#each OurGroup}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <button type='submit' formmethod="GET" formaction="/openGroup?id={{_id}}" class='btn'>Open group</button>
                <button type='submit' formmethod="POST" formaction="/deleteGroup?id={{_id}}" class='btn'>Delete group</button>
                <input type="hidden" value="{{_id}}" name="id">
            </label>
        </form>
    </li>
    {{/each}}
</ul>
{{/if}}
{{#if invites.length}}
<h2>Invites</h2>
<ul>
    {{#each invites}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <button type='submit' formmethod="POST" formaction="/acceptInvite?id={{id}}" class='btn'>Accept</button>
                <button type='submit' formmethod="POST" formaction="/cancelInvite?id={{id}}" class='btn'>Cancel</button>
                <input type="hidden" value="{{id}}" name="id">
            </label>
        </form>
    </li>
    {{/each}}
</ul>

{{/if}}
{{#if addGroups}}
<p>
    <li><a href="/createGroup">Создать группу</a></li>
</p>
{{/if}}
{{#if addRoles}}
<p>
    <li><a href="/createRole">Создать роль</a></li>
</p>
{{/if}}
{{#if addUsers}}
<p>
    <li><a>Создать пользователя</a></li>
</p>
{{/if}}
<!--<p>
    <li><a href="/redGroup">Изменить группу</a></li>
</p>-->