<h2>{{nameGr}}</h2>
{{#if OurGroup.length}}
<ul>
    {{#each OurGroup}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <input type="hidden" value="{{id}}" name = 'id'>
                <button type='submit' formmethod="POST" formaction="/sendEmail" class='btn'>Send invite</button>
                <input type="hidden" value="{{mail}}" name="mail">
            </label>
        </form>
    </li>
    {{/each}}
    <label>
        <a>{{location}}</a>
    </label>
    {{#each events}}
    <label>
        <br>
        <a>{{name}}</a>
        <br>
        <a>{{date}}</a>
        <br>
        <a>{{time}}</a>
        <br>
        <a>{{location}}</a>
        <br>
    {{/each}}
    <form>
        <input type="hidden" value="{{id}}" name = 'id'>
        <button type='submit' formmethod="POST" formaction="/openEventAdd" class='btn'>add event</button>
    </form>
    
</ul>

{{/if}}