<h2>Main page</h2>
{{#if OurGroup.length}}
<ul>
    {{#each OurGroup}}
    <li class='todo'>
        <form>
            <label>
                <a>{{name}}</a>
                <button type='submit' formmethod="POST" formaction="/openGroup" class='btn'>Open group</button>
                <input type="hidden" value="{{_id}}" name="idOfGroup">
            </label>
        </form>
    </li>
    {{/each}}
</ul>

{{/if}}

<p>
    <li><a href="/createGroup">Создать группу</a></li>
</p>
<p>
    <li><a href="/createRole">Создать роль</a></li>
</p>
<!--<p>
    <li><a href="/redGroup">Изменить группу</a></li>
</p>-->